{{ define "main" }}
<h1>{{ .Title }}</h1>
<p>
  <small>
    {{ with .Params.author }}{{ . }}{{ end }}
    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
    {{ if not (eq .Date .Lastmod) }}
    <time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{i18n "lastMod"}}: {{ .Lastmod.Format
      (default "02 Jan, 2006" .Site.Params.dateFormat) }}</time>
    {{ end }}
    {{ range $i := (slice "categories" "tags") }}
    {{ with ($.Param $i) }}
    &nbsp; <span>{{ $i }}:
      {{ range $k := . }}
      <a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a>
      {{ end }}
    </span>
    {{ end }}
    {{ end }}
    {{ partial "content_metadata.html" . }}
  </small>
</p>

{{- partial "toc.html" . -}}

{{ partial "content_header.html" . }}
<content>
  {{ .Content }}
</content>
{{ partial "content_footer.html" . }}

{{ end }}
